* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial;
}

form {
  background: #888;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
  font-size: 20px;
}

form button {
  width: 9%;
  background: #00ccff;
  border: none;
  padding: 10px;
  font-size: 20px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.server-msg {
  color: #00cc66;
  font-size: 16px;
}